.marquee {
    white-space: nowrap;
    overflow: hidden;
  }

.card-moving-background {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    margin: 2rem;
}
.clickable-background {
    background-image: url('/images/food/foodbg.png');
}
.list-group-item {
    opacity: 0.9;
    border: none;
}
.changeable-background-image {
    width: 400px;
    height: 500px;
    border: 5px solid white;
    border-radius: 5px;
}

.text-title {
 color: #1D3557;
}

.btn-group {
    border-radius: 20px;
}

.cta-title {
    font-size: 50px !important;
}

.background-gradient {
    background: radial-gradient(ellipse at center,#3b6db2,#1D3557);
}

.card-bg-1 {
    background-color: #111827;
    transition: transform .2s;
}

.card-min-height-10 {
    min-height: 25rem;
}

.card-img-1 {
    display: inline-block;
    max-width: 100%;
    height: 100%;
}

.card-show:hover {
    transform: scale(1.01);
}

.card-slider {
    min-height: 65vh;
    display: grid;
    place-items: center;
    height: 350px;
}
.card-container {
    height: 400px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-container {
    display: flex;
    width: calc(250px*18);
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px*9));
    }
}

.card-area {
    height: 350px;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    border-radius: 100px;

}
.card-moving-background {
    width: 100%;
    transition: transform 2s;
    border-radius: 1.5rem;
}

.card-moving-background:hover {
    transform: translateZ(1.005rem);
}